/** colors */
$black: #1d2327;

$black-light: #2a2e31;

$white: #fff;

$gray: #f2f2f2;

$gray-dark: #808080;

$green: #00bf6f;

$green-light: #00ef8b;

$red: #ef426f;

$blue: #363d87;

$blue-light: #00a9e0;

$yellow: #ffb81c;

/** utils */
$font-color: $black-light;

$btn-color: $white;

$btn-bg: $red;

$btn-shadow: $blue;

/** box model  */
$spacer: 2rem;
