// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
header {
  .header-container {
    width: 73.25%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }

    .custom-logo {
      height: 60px;
      width: auto;
      object-fit: contain;
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
          margin-left: 74px;

          a {
            text-align: right;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}
